<div class="grid-container">

     {{>admin-header}}

      {{>admin-sidebar}}

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>DASHBOARD</h2>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <h3>PRODUCTS</h3>
              <span class="material-icons-outlined">inventory_2</span>
            </div>
            <h1>{{count.productCount}}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>CATEGORIES</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            <h1>{{count.categoryCount}}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>PARTNERS</h3>
              <span class="material-icons-outlined">groups</span>
            </div>
            <h1>{{count.partnerCount}}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>ALERTS</h3>
              <span class="material-icons-outlined">notification_important</span>
            </div>
            <h1>0</h1>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <h2 class="chart-title">Recently added products</h2>
            {{!-- <div id="bar-chart"></div> --}}
            <table class="table table-dark">
          <thead>
            <tr>

              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <th scope="row">{{counter @ index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.category.name}}</td>
              {{!-- <td>{{this.material}}</td> --}}
             
            </tr>
            {{/each}}
          </tbody>
        </table>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Recently enquired users</h2>
            {{!-- <div id="area-chart"></div> --}}
            <table class="table table-dark">
          <thead>
            <tr>

              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {{#each messages}}
            <tr>
              <th scope="row">{{counter @ index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.message}}</td>
              {{!-- <td>{{this.material}}</td> --}}
             
            </tr>
            {{/each}}
          </tbody>
        </table>
          </div>

        </div>
      </main>
      <!-- End Main -->

    </div>