<!--  ====== header-area-start=======================================  -->
        <header>
            <div id="header-sticky" class="header-area header-area1 header-transparent">
                <div class="header header-padding ml-185 mr-185">
                    <div class="container-fluid">
                        <div class="header-mega p-relative">
                            <div class="row align-items-center justify-content-lg-between">
                                <div class="col-xl-2  col-lg-2 col-md-3 col-sm-6 col-7 pr-0 d-flex align-items-center">
                                    <div class="logo">
                                        <a href="/" class="d-block" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="National Pals">
                                            <img src="/uploads/{{images.logoSmall}}" alt="National Pals">
                                        </a>
                                    </div>
                                </div><!-- /col -->
                                <div class="col-xl-6 col-lg-7 col-md-1 col-sm-1 col-1 d-none pr-0 pl-0 pl-lg-15 d-flex align-items-center justify-content-xl-start justify-content-center position-static">
                                    <div class="main-menu">
                                        <nav id="mobile-menu">
                                            <ul class="d-block">
                                                <li class="has-dropdown">
                                                    <a href="/">Home </a>
									
                                                </li>
                                               
                                               <li class="has-dropdown" >
                                                    <a href="/products">Products <i class="far fa-angle-down"></i></a>
                                                    <ul class="mega-menu" data-background="/uploads/{{images.navDropBg}}">
                                                       
                                                        </li>
                                                        <li>
                                                            <a href="/categories">Product Categories</a>
                                                            <ul>
                                                                {{#each categories1}}
                                                                <li><a href="/categories/{{this._id}}">{{this.name}}</a></li>
                                                               {{/each}}
                                                            </ul>
                                                        </li>
                                                        <li>    
                                                            <a href="/categories">Discover Other items</a>
                                                            <ul>
                                                                {{#each categories2}}
                                                                <li><a href="/categories/{{this._id}}">{{this.name}}</a></li>
                                                               {{/each}}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdwon">
                                                    <a href="/about">About</a>
                                                </li>
                                               <li class="has-dropdown">
                                                    <a href="/partners">Partners <i class="far fa-angle-down"></i></a>
										       </li>

                                                <li class="has-dropdown">
                                                    <a href="/contactUs">Contact</a>
                                            </ul>
                                        </nav>
                                    </div><!-- /main-menu -->
                                </div><!-- /col -->
                                <div class="col-xl-4 col-lg-3 col-md-8 col-sm-5 col-4">
                                        <div class="header-right d-flex justify-content-end align-items-center">
                                            <div class="header-search position-relative d-none d-xl-block" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Search">
                                                {{!-- <input type="text" placeholder="Search" class="border-0 pl-25 theme-color">
                                                <span class="position-absolute black-color"><span><i class="far fa-search"></i></span></span> --}}
                                                <a data-animation="fadeInUp" data-delay="1.7s" href="/downloadBrochure"
                                    class="web-btn  theme-border  d-inline-block mt-2 text-uppercase white theme-bg position-relative over-hidden pl-30 pr-30 ptb-17">Download Brochure<span class="pl-2"><i class="fas fa-long-arrow-alt-down"></i></span></a>
                                            </div>
                                            <ul class="mobile-menubar mt-1 info-bar d-flex ml-45">
                                                <li>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </li>
                                                <li>
                                                    <span></span>
                                                    <span class="active"></span>
                                                    <span></span>
                                                </li>
                                                <li>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </li>
                                            </ul>
                                        </div><!-- /header-right -->
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div>
                    </div><!-- /container -->
                </div>
            </div><!-- /header-bottom -->
        </header>
        <!--  header-area-end  -->
    
        <!--  ====== header extra info start================================== -->
        <!-- side-mobile-menu start -->
        <div class="side-mobile-menu bg-white pt-20 pb-30 pl-40 pr-40 pb-100">
            <div class="close-icon float-right mt-20">
                <a class="close-menu d-block" href="javascript:void(0);"><span class="icon-clear"></span></a>
            </div>

            <img class="d-block mt-25" src="/uploads/{{images.logoSmall}}" alt="National pals">
            <h5 class="mb-15 mt-15 pb-1 border-primary-b d-inline-block">About us</h5>
            <p class="mb-20">National PALS is a leading provider of electrical conduit
solutions for your infrastructure requirements. Since
2010, Every day, everywhere, thousands of electrical
products come in handy</p>

            <div class="header-search-content position-relative d-block d-xl-none mt--8">
                <form action="#" class="position-relative mt-50">
                    <input class="form-control rounded-0 h5-theme-color px-0" type="text" placeholder="Enter Keyword...">
                    <a class="position-absolute primary-color d-block" href="#"><span><i class="far fa-search"></i></span></a>
                </form>
            </div>
            {{!-- <div class="mobile-menu mt-10"></div> --}}
            
            <h5 class=" primary-color border-primary-b d-inline-block">Contact us</h5>

            {{#each branches}}
            <h6 class=" color-red mt-10 pb-1">{{this.name}}</h6>
            <ul class="contact-add">
                <li class=" primary-color">
                    <span class="pr-1"><i class="fas fa-map-marker-alt"></i></span> 
                    {{this.location}}
                </li>
                <li class=" primary-color">
                    <span class="pr-1"><i class="far fa-envelope"></i></span> 
                    {{this.email}}
                </li>
                <li class="">
                    <a class=" primary-color" href="tell:+898-123-456-98"><span class="pr-1"><i class="fas fa-phone"></i></span>{{this.mobile}}</a>
                </li>
            </ul>
            {{/each}}
            
        </div><!-- /side-mobile-menu -->
        <div class="body-overlay"></div>
        <!-- header extra info end  -->